# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\graduation_manage_master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
